<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Batch File Name Renaming.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>batchrename_bin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E1F96F11F242FBA003ED3C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EAFF49F1F242DBE000FB1A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EF49E0B1F242C8D00BD3ED7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
